<div class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-4 footer-center">
        <img class="footer-logo" src="assets/whitelogografika.svg" alt="" />
      </div>
      <div class="col-sm-12 col-md-4 footer-center">
        <h1>Kapcsolat</h1>
        <h5>info@webvibes.com</h5>
        <h5>06203939393</h5>
      </div>
      <div class="col-sm-12 col-md-4 footer-center">
        <h3>Fontos tájékoztatók</h3>
        <h5>Adatkezelési tájékoztató</h5>
        <h5>Impresszum</h5>
        <h5>Copyright 2021 WebVibes</h5>
      </div>
    </div>
  </div>
</div>
