<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 hero-text-container">
        <h1>Legyen kreatív, működő weboldalad neked is!</h1>
        <p>
          A közös munka során egyedi és célirányos megoldásokkal megmutatjuk
          ügyfeleidnek miért <span>Te</span> vagy a legjobb!
        </p>
        <button
          mat-flat-button
          aria-label="Example icon-button with menu icon"
          routerLink="/contact"
          routerLinkActive="active"
          color="accent"
        >
          Csináljuk
        </button>
      </div>
      <div class="col-lg-6">
        <img
          class="hero-image"
          src="./assets/illusztraciok/fooldalbanner.svg"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- <img src="./assets/hullamok.svg" alt="" class="hullam" />
    <img src="./assets/kor.svg" alt="" class="kor" /> -->
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 order-lg-2 services-text">
        <h1>Ide kell egy cim</h1>
        <p>
          A digitális arculat legfontosabb eszköze a weboldal. Segítünk, hogy
          kitűnj a tömegből és weboldalad egyszerre felelen meg marketing és
          kommunikációs céloknak is.
        </p>
      </div>
      <div class="col-lg-8 col-md-12 order-lg-1 order-lg-1">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <mat-card class="box mat-elevation-z15">
              <mat-card-header>
                <img
                  mat-card-avatar
                  class="box-header-icon"
                  src="assets/ikonok/logo-arculattervezes-ikon.svg"
                  alt="My SVG"
                />
                <mat-card-title class="box-header-text"
                  >Logó- és arculat tervezés</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>
                  A branding és a pontosan megtervezett vizuális megjelenés a
                  siker egyik alapköve. Egy jól megtervezett arculat növeli a
                  láthatóságot, bizalmat kelt, segíti az értékesítést.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 col-sm-12">
            <mat-card class="box mat-elevation-z15">
              <mat-card-header class="box-header">
                <img
                  mat-card-avatar
                  class="box-header-icon"
                  src="assets/ikonok/webdesign-ikon.svg"
                  alt="My SVG"
                />
                <mat-card-title class="box-header-text"
                  >Webdesign</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>
                  A közös munka során egyedi grafikákkal, bannerekkel tesszük
                  teljesen egyedivé a webáruházad, és használatba vétel után is
                  rendelkezésedre állunk karbantartási, üzemeltetési és további
                  grafikai munkára.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 col-sm-12">
            <mat-card class="box mat-elevation-z15">
              <mat-card-header class="box-header">
                <img
                  mat-card-avatar
                  class="box-header-icon"
                  src="assets/ikonok/webfejlesztes-ikon.svg"
                  alt="My SVG"
                />
                <mat-card-title class="box-header-text"
                  >Webfejlesztés</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>
                  A digitális arculat legfontosabb eszköze a weboldal. Segítünk,
                  hogy kitűnj a tömegből és weboldalad egyszerre felelen meg
                  marketing és kommunikációs céloknak is.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 col-sm-12">
            <mat-card class="box mat-elevation-z15">
              <mat-card-header class="box-header">
                <img
                  mat-card-avatar
                  class="box-header-icon"
                  src="assets/ikonok/webshop-ikon.svg"
                  alt="My SVG"
                />
                <mat-card-title class="box-header-text"
                  >Webshop készítés</mat-card-title
                >
              </mat-card-header>
              <mat-card-content>
                <p>
                  A digitális arculat legfontosabb eszköze a weboldal. Segítünk,
                  hogy kitűnj a tömegből és weboldalad egyszerre felelen meg
                  marketing és kommunikációs céloknak is.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio">
  <div *ngIf="!mobileQuery.matches" class="container">
    <div class="section-text">
      <h1>Ezeket készítettük eddig</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/travel.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/esmeralda.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/pekseg.png" alt="" />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/pizza.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/candle.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/candle.png" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="mobileQuery.matches" class="container">
    <div class="section-text">
      <h1>Ezeket készítettük eddig</h1>
    </div>
  </div>
  <div *ngIf="mobileQuery.matches" class="scrolling-wrapper-flexbox">
    <img class="scrolling-card" src="./assets/img/travel.png" alt="" />
    <img class="scrolling-card" src="./assets/img/esmeralda.png" alt="" />
    <img class="scrolling-card" src="./assets/img/pekseg.png" alt="" />
    <img class="scrolling-card" src="./assets/img/pizza.png" alt="" />
    <img class="scrolling-card" src="./assets/img/candle.png" alt="" />
    <img class="scrolling-card" src="./assets/img/candle.png" alt="" />
  </div>
</section>

<section id="progress">
  <div class="container">
    <div class="section-text">
      <h1>Mik a lépések?</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="box mat-elevation-z15">
          <mat-card-header class="box-header">
            <img
              mat-card-avatar
              class="box-header-icon"
              src="assets/ikonok/igenyfelmeres-ikon.svg"
              alt="My SVG"
            />
            <mat-card-title class="box-header-text"
              >Igény felmérés</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Online meeting során felmérjük a vállalkozásod múltját, jelenét és
              vízióját, felderítjük az értékeidet, célközönségedet,
              versenytársaidat. Ez lesz a tervezési folyamat alapja.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="box mat-elevation-z15">
          <mat-card-header class="box-header">
            <img
              mat-card-avatar
              class="box-header-icon"
              src="assets/ikonok/tervek-elkeszitese-ikon.svg"
              alt="My SVG"
            />
            <mat-card-title class="box-header-text"
              >Tervek elkészítése</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Látványtervek segítségével bemutatjuk a fő grafikai irányt, amit
              az igényeid szerint módosítunk, hogy a végeredménnyel teljesen
              azonosulni tudj.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="box mat-elevation-z15">
          <mat-card-header class="box-header">
            <img
              mat-card-avatar
              class="box-header-icon"
              src="assets/ikonok/megvalositas-ikon.svg"
              alt="My SVG"
            />
            <mat-card-title class="box-header-text"
              >Megvalósítás</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Az átbeszélt módosítások után kidolgozzuk a végleges terveket,
              amik alapján fejlesztünk majd tesztelünk.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 goal-container">
        <div class="our-goal">
          <h1>Célunk</h1>
          <p>
            A hatékonyság erdekében komplex és kreatív megoldásokban
            gondolkodunk a vizuális irányvonal kialakításában, folyamatosan
            keressük a lehetőségeket és a változatosságot. Weboldalaink
            készítése során rendszeresen konzultálunk ügyfeleinkkel, hogy a
            végeredmény valóban a megrendelő elvárásait tükrözze. Célunk, hogy a
            szakértelmünkkel segítsük a vállalkozók online jelenlétét.
          </p>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-sarga-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Megmutatjuk a célközönségednek, miért te vagy a legjobb!
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-lila-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Téged fog tükrözni a végeredmény, legyen akármilyen stílusról szó.
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-zold-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              A jó design egyenlő a jó businessel.
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-kek-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Segítünk, hogy a weboldalad által sikeresebb legyen a
              vállalkozásod!
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="hero-image" src="./assets/img/monitor.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section id="progress">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-lg-6">
        <img
          class="hero-image"
          src="./assets/illusztraciok/kapcsolat.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
