<app-hero
  [mainText]="heroMainText"
  [secondaryText]="heroSecondaryText"
  [imageSrc]="heroImageSrc"
>
</app-hero>

<section id="services" class="section">
  <div class="container">
    <div class="section-text">
      <h1 class="main-text">Ide kell egy cim</h1>
      <p class="secondary-text">
        A digitális arculat legfontosabb eszköze a weboldal. Segítünk, hogy
        kitűnj a tömegből és weboldalad egyszerre felelen meg marketing és
        kommunikációs céloknak is.
      </p>
    </div>
    <div class="row">
      <div
        *ngFor="let item of servicesCardsContent"
        class="col-xl-3 col-md-6 col-sm-12"
      >
        <app-card
          [title]="item.title"
          [content]="item.content"
          [iconSrc]="item.imageSrc"
        >
        </app-card>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="section">
  <div *ngIf="!mobileQuery.matches" class="container">
    <div class="section-text">
      <h1 class="main-text">Ezeket készítettük eddig</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/travel.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/esmeralda.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/pekseg.png" alt="" />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/pizza.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/candle.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="portfolio-image" src="./assets/img/candle.png" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="mobileQuery.matches" class="container">
    <div class="section-text">
      <h1 class="main-text">Ezeket készítettük eddig</h1>
    </div>
  </div>
  <div *ngIf="mobileQuery.matches" class="scrolling-wrapper-flexbox">
    <img class="scrolling-card" src="./assets/img/travel.png" alt="" />
    <img class="scrolling-card" src="./assets/img/esmeralda.png" alt="" />
    <img class="scrolling-card" src="./assets/img/pekseg.png" alt="" />
    <img class="scrolling-card" src="./assets/img/pizza.png" alt="" />
    <img class="scrolling-card" src="./assets/img/candle.png" alt="" />
    <img class="scrolling-card" src="./assets/img/candle.png" alt="" />
  </div>
</section>

<section id="progress" class="section">
  <div class="container">
    <div class="section-text">
      <h1 class="main-text">Mik a lépések?</h1>
    </div>
    <div class="row">
      <div
        *ngFor="let item of progressCardsContent"
        class="col-lg-4 col-md-6 col-sm-12"
      >
        <app-card
          [title]="item.title"
          [content]="item.content"
          [iconSrc]="item.imageSrc"
        >
        </app-card>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 goal-container">
        <div class="our-goal">
          <h1 class="main-text">Célunk</h1>
          <p class="secondary-text">
            A hatékonyság erdekében komplex és kreatív megoldásokban
            gondolkodunk a vizuális irányvonal kialakításában, folyamatosan
            keressük a lehetőségeket és a változatosságot. Weboldalaink
            készítése során rendszeresen konzultálunk ügyfeleinkkel, hogy a
            végeredmény valóban a megrendelő elvárásait tükrözze. Célunk, hogy a
            szakértelmünkkel segítsük a vállalkozók online jelenlétét.
          </p>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-sarga-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Megmutatjuk a célközönségednek, miért te vagy a legjobb!
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-lila-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Téged fog tükrözni a végeredmény, legyen akármilyen stílusról szó.
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-zold-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              A jó design egyenlő a jó businessel.
            </h4>
          </div>
          <div class="box-header">
            <div class="box-header-icon-container">
              <img
                class="box-header-icon"
                src="assets/ikonok/celunk-kek-ikon.svg"
                alt="My SVG"
              />
            </div>
            <h4 class="box-header-text">
              Segítünk, hogy a weboldalad által sikeresebb legyen a
              vállalkozásod!
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="margin: auto">
        <img class="hero-image" src="./assets/img/monitor.png" alt="" />
      </div>
    </div>
  </div>
</section>
<app-contact> </app-contact>
<app-footer></app-footer>
